n8n/workflows/telegram-bot-complete.json
{
  "name": "Telegram Bot - Sistema de Citas Médicas",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        500
      ],
      "webhookId": "telegram-bot-main",
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Telegram message\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const message = item.json.message;\n  \n  if (!message) {\n    continue;\n  }\n  \n  const text = message.text || '';\n  const chatId = message.chat?.id;\n  const userId = message.from?.id;\n  const username = message.from?.username;\n  const firstName = message.from?.first_name;\n  \n  // Parse command and parameters\n  let command = '';\n  let params = {};\n  \n  if (text.startsWith('/')) {\n    const parts = text.split(' ');\n    command = parts[0].substring(1);\n    \n    // Parse parameters based on command\n    if (command === 'agendar' && parts.length >= 4) {\n      params = {\n        doctor: parts.slice(1, -2).join(' '),\n        date: parts[parts.length - 2],\n        time: parts[parts.length - 1]\n      };\n    } else if (command === 'verificar' || command === 'cancelar') {\n      params = {\n        appointmentId: parts[1]\n      };\n    }\n  } else {\n    command = 'natural';\n    params = { text: text };\n  }\n  \n  results.push({\n    json: {\n      command,\n      params,\n      chatId,\n      userId,\n      username,\n      firstName,\n      originalText: text,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "verificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verificar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "mis_citas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mis_citas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ayuda"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "command-router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate welcome message\nconst firstName = $input.first().json.firstName || 'Usuario';\n\nconst welcomeMessage = `🏥 ¡Hola ${firstName}! Bienvenido al Sistema de Citas Médicas\n\nPuedo ayudarte con:\n\n📅 /agendar - Agendar nueva cita\n🔍 /verificar - Verificar estado de cita\n❌ /cancelar - Cancelar cita existente\n📋 /mis_citas - Ver todas tus citas\n❓ /ayuda - Ver este menú de ayuda\n\n¿Cómo puedo ayudarte hoy?`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Agendar Cita', callback_data: '/agendar' },\n      { text: '📋 Mis Citas', callback_data: '/mis_citas' }\n    ],\n    [\n      { text: '❓ Ayuda', callback_data: '/ayuda' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: $input.first().json.chatId,\n    message: welcomeMessage,\n    keyboard: keyboard\n  }\n}];"
      },
      "id": "format-welcome",
      "name": "Format Welcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate appointment parameters\nconst params = $input.first().json.params;\nconst chatId = $input.first().json.chatId;\nconst userId = $input.first().json.userId;\n\nif (!params.doctor || !params.date || !params.time) {\n  return [{\n    json: {\n      valid: false,\n      chatId: chatId,\n      message: '❌ Formato incorrecto\\n\\nUsa: /agendar [Doctor] [Fecha] [Hora]\\n\\nEjemplo:\\n/agendar Dr. López 2024-11-25 10:00'\n    }\n  }];\n}\n\n// Parse and validate date\nconst appointmentDate = new Date(params.date);\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nif (appointmentDate < today) {\n  return [{\n    json: {\n      valid: false,\n      chatId: chatId,\n      message: '❌ No puedes agendar citas en fechas pasadas'\n    }\n  }];\n}\n\n// Validate time format\nconst timeRegex = /^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/;\nif (!timeRegex.test(params.time)) {\n  return [{\n    json: {\n      valid: false,\n      chatId: chatId,\n      message: '❌ Formato de hora inválido. Usa formato HH:MM (ej: 10:00)'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    chatId: chatId,\n    userId: userId,\n    appointment: {\n      patient_id: userId.toString(),\n      doctor_id: 'doc_' + params.doctor.toLowerCase().replace(/[^a-z0-9]/g, ''),\n      appointment_date: params.date,\n      appointment_time: params.time + ':00',\n      duration_minutes: 30,\n      reason: 'Consulta general'\n    }\n  }\n}];"
      },
      "id": "validate-appointment",
      "name": "Validate Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-gateway:3000/api/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"patient_id\": \"{{ $json.appointment.patient_id }}\",\n  \"doctor_id\": \"{{ $json.appointment.doctor_id }}\",\n  \"appointment_date\": \"{{ $json.appointment.appointment_date }}\",\n  \"appointment_time\": \"{{ $json.appointment.appointment_time }}\",\n  \"duration_minutes\": {{ $json.appointment.duration_minutes }},\n  \"reason\": \"{{ $json.appointment.reason }}\"\n}",
        "options": {}
      },
      "id": "create-appointment-api",
      "name": "Create Appointment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        360
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format success or error message\nconst response = $input.first().json;\nconst previousData = $input.all()[0].json;\nconst chatId = previousData.chatId;\n\nif (response.error || !response.id) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: `❌ Error al crear la cita\\n\\n${response.error || response.message || 'Error desconocido'}\\n\\nPor favor intenta nuevamente.`,\n      success: false\n    }\n  }];\n}\n\n// Success\nconst appointment = response;\nconst date = new Date(appointment.appointment_date);\nconst dateStr = date.toLocaleDateString('es-MX', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst successMessage = `✅ ¡Cita Agendada Exitosamente!\\n\\n📋 **Detalles de tu cita:**\\n🆔 ID: ${appointment.id}\\n👨‍⚕️ Doctor: ${appointment.doctor_id}\\n📅 Fecha: ${dateStr}\\n⏰ Hora: ${appointment.start_time || appointment.appointment_time}\\n⏱ Duración: ${appointment.duration_minutes} minutos\\n\\n📌 Estado: ${appointment.status}\\n\\n💡 Te enviaremos un recordatorio 24 horas antes de tu cita.`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📋 Ver Mis Citas', callback_data: '/mis_citas' },\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: successMessage,\n    keyboard: keyboard,\n    success: true\n  }\n}];"
      },
      "id": "format-appointment-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate verification parameters\nconst params = $input.first().json.params;\nconst chatId = $input.first().json.chatId;\n\nif (!params.appointmentId) {\n  return [{\n    json: {\n      valid: false,\n      chatId: chatId,\n      message: '❌ Por favor proporciona el ID de la cita\\n\\nUsa: /verificar [ID_CITA]\\n\\nEjemplo:\\n/verificar 1'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    chatId: chatId,\n    appointmentId: params.appointmentId\n  }\n}];"
      },
      "id": "validate-verify",
      "name": "Validate Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api-gateway:3000/api/appointments/{{ $json.appointmentId }}",
        "options": {}
      },
      "id": "get-appointment-api",
      "name": "Get Appointment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        560
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format verification response\nconst response = $input.first().json;\nconst previousData = $input.all()[0].json;\nconst chatId = previousData.chatId;\n\nif (response.error || !response.id) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: `❌ No se encontró la cita con ese ID\\n\\nVerifica el ID e intenta nuevamente.`\n    }\n  }];\n}\n\nconst appointment = response;\nconst date = new Date(appointment.appointment_date);\nconst dateStr = date.toLocaleDateString('es-MX', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nlet statusEmoji = '📅';\nswitch(appointment.status) {\n  case 'confirmed': statusEmoji = '✅'; break;\n  case 'cancelled': statusEmoji = '❌'; break;\n  case 'completed': statusEmoji = '✔️'; break;\n  case 'no_show': statusEmoji = '⚠️'; break;\n}\n\nconst message = `📋 **Información de tu Cita**\\n\\n🆔 ID: ${appointment.id}\\n${statusEmoji} Estado: ${appointment.status}\\n👨‍⚕️ Doctor: ${appointment.doctor_id}\\n📅 Fecha: ${dateStr}\\n⏰ Hora: ${appointment.start_time || appointment.appointment_time}\\n⏱ Duración: ${appointment.duration_minutes} minutos\\n\\n${appointment.notes ? `📝 Notas: ${appointment.notes}` : ''}\\n${appointment.cancellation_reason ? `❌ Razón de cancelación: ${appointment.cancellation_reason}` : ''}`;\n\nconst keyboard = appointment.status === 'scheduled' ? {\n  inline_keyboard: [\n    [\n      { text: '✅ Confirmar', callback_data: `/confirmar ${appointment.id}` },\n      { text: '❌ Cancelar', callback_data: `/cancelar ${appointment.id}` }\n    ],\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n} : {\n  inline_keyboard: [\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message,\n    keyboard: keyboard\n  }\n}];"
      },
      "id": "format-verify-response",
      "name": "Format Verify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate cancellation parameters\nconst params = $input.first().json.params;\nconst chatId = $input.first().json.chatId;\n\nif (!params.appointmentId) {\n  return [{\n    json: {\n      valid: false,\n      chatId: chatId,\n      message: '❌ Por favor proporciona el ID de la cita\\n\\nUsa: /cancelar [ID_CITA]\\n\\nEjemplo:\\n/cancelar 1'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    chatId: chatId,\n    appointmentId: params.appointmentId\n  }\n}];"
      },
      "id": "validate-cancel",
      "name": "Validate Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        700
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://api-gateway:3000/api/appointments/{{ $json.appointmentId }}",
        "options": {}
      },
      "id": "cancel-appointment-api",
      "name": "Cancel Appointment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        700
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format cancellation response\nconst response = $input.first().json;\nconst previousData = $input.all()[0].json;\nconst chatId = previousData.chatId;\n\nif (response.error) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: `❌ Error al cancelar la cita\\n\\n${response.message || 'Error desconocido'}\\n\\nPor favor intenta nuevamente.`\n    }\n  }];\n}\n\nconst message = `✅ Cita cancelada exitosamente\\n\\n🆔 ID: ${previousData.appointmentId}\\n\\nPuedes agendar una nueva cita cuando lo necesites.`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Agendar Nueva Cita', callback_data: '/agendar' },\n      { text: '📋 Mis Citas', callback_data: '/mis_citas' }\n    ],\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message,\n    keyboard: keyboard\n  }\n}];"
      },
      "id": "format-cancel-response",
      "name": "Format Cancel Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api-gateway:3000/api/appointments?patient_id={{ $json.userId }}",
        "options": {}
      },
      "id": "list-appointments-api",
      "name": "List Appointments API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        840
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format appointments list\nconst response = $input.first().json;\nconst previousData = $input.all()[0].json;\nconst chatId = previousData.chatId;\n\nif (response.error) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: `❌ Error al obtener tus citas\\n\\nIntenta nuevamente más tarde.`\n    }\n  }];\n}\n\nconst appointments = response.appointments || response || [];\n\nif (!Array.isArray(appointments) || appointments.length === 0) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: `📋 No tienes citas registradas\\n\\n¿Quieres agendar una nueva cita?`,\n      keyboard: {\n        inline_keyboard: [\n          [\n            { text: '📅 Agendar Cita', callback_data: '/agendar' },\n            { text: '🏠 Menú Principal', callback_data: '/start' }\n          ]\n        ]\n      }\n    }\n  }];\n}\n\nlet message = `📋 **Tus Citas (${appointments.length})**\\n\\n`;\n\nappointments.forEach((apt, index) => {\n  const date = new Date(apt.appointment_date);\n  const dateStr = date.toLocaleDateString('es-MX', {\n    weekday: 'short',\n    month: 'short',\n    day: 'numeric'\n  });\n  \n  let statusEmoji = '📅';\n  switch(apt.status) {\n    case 'confirmed': statusEmoji = '✅'; break;\n    case 'cancelled': statusEmoji = '❌'; break;\n    case 'completed': statusEmoji = '✔️'; break;\n  }\n  \n  message += `${index + 1}. ${statusEmoji} **${dateStr}** - ${apt.start_time || apt.appointment_time}\\n`;\n  message += `   👨‍⚕️ ${apt.doctor_id}\\n`;\n  message += `   🆔 ID: ${apt.id}\\n\\n`;\n});\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Nueva Cita', callback_data: '/agendar' },\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message,\n    keyboard: keyboard\n  }\n}];"
      },
      "id": "format-list-response",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate help message\nconst chatId = $input.first().json.chatId;\n\nconst helpMessage = `❓ **Ayuda - Sistema de Citas Médicas**\\n\\n**Comandos Disponibles:**\\n\\n📅 **/agendar** [Doctor] [Fecha] [Hora]\\nAgenda una nueva cita médica\\nEjemplo: /agendar Dr. López 2024-11-25 10:00\\n\\n🔍 **/verificar** [ID_Cita]\\nVerifica el estado de una cita específica\\nEjemplo: /verificar 1\\n\\n❌ **/cancelar** [ID_Cita]\\nCancela una cita existente\\nEjemplo: /cancelar 1\\n\\n📋 **/mis_citas**\\nMuestra todas tus citas programadas\\n\\n**Formatos Aceptados:**\\n• Fecha: AAAA-MM-DD (ej: 2024-11-25)\\n• Hora: HH:MM (ej: 10:00, 14:30)\\n• Horario: 8:00 AM - 6:00 PM\\n• Días: Lunes a Viernes\\n\\n**Tips:**\\n• Las citas duran 30 minutos por defecto\\n• No se pueden agendar citas en el pasado\\n• Recibirás recordatorios 24h antes\\n\\n¿Necesitas más ayuda? Contacta soporte`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Agendar Cita', callback_data: '/agendar' },\n      { text: '📋 Mis Citas', callback_data: '/mis_citas' }\n    ],\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: helpMessage,\n    keyboard: keyboard\n  }\n}];"
      },
      "id": "format-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        980
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={{ JSON.stringify($json.keyboard || {}) }}"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1640,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Format Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Verify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Appointments API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Welcome": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Appointment": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Create Appointment API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Verify": {
      "main": [
        [
          {
            "node": "Get Appointment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment API": {
      "main": [
        [
          {
            "node": "Format Verify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Verify Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Cancel": {
      "main": [
        [
          {
            "node": "Cancel Appointment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment API": {
      "main": [
        [
          {
            "node": "Format Cancel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancel Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Appointments API": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "Sistema de Citas Médicas",
    "instanceId": "appointment-system"
  },
  "id": "telegram-appointment-bot",
  "tags": []
}
