n8n/workflows/telegram-bot-complete.json
{
  "name": "Telegram Bot - Sistema de Citas Médicas Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot-webhook",
        "responseMode": "responseNode",
        "options": {
          "responseNode": "Telegram Response"
        }
      },
      "id": "telegram-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "telegram-bot-main"
    },
    {
      "parameters": {
        "functionCode": "// Parse incoming Telegram message\nconst message = $input.first().json.message || $input.first().json.callback_query;\n\nif (!message) {\n  return {\n    error: 'No message found'\n  };\n}\n\nconst text = message.text || message.data || '';\nconst chatId = message.chat?.id || message.from?.id;\nconst userId = message.from?.id;\nconst username = message.from?.username;\nconst firstName = message.from?.first_name;\n\n// Parse command and parameters\nlet command = '';\nlet params = {};\n\nif (text.startsWith('/')) {\n  const parts = text.split(' ');\n  command = parts[0].substring(1);\n  \n  // Parse parameters based on command\n  if (command === 'agendar') {\n    // Example: /agendar Dr. López 2024-11-25 10:00\n    if (parts.length >= 4) {\n      params = {\n        doctor: parts.slice(1, -2).join(' '),\n        date: parts[parts.length - 2],\n        time: parts[parts.length - 1]\n      };\n    }\n  } else if (command === 'verificar' || command === 'cancelar') {\n    // Example: /verificar ABC123\n    params = {\n      appointmentId: parts[1]\n    };\n  }\n} else {\n  // Handle natural language\n  command = 'natural';\n  params = { text: text };\n}\n\nreturn {\n  command,\n  params,\n  chatId,\n  userId,\n  username,\n  firstName,\n  originalText: text,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "start"
                  }
                ]
              },
              "outputKey": "start"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "agendar"
                  }
                ]
              },
              "outputKey": "agendar"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "verificar"
                  }
                ]
              },
              "outputKey": "verificar"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "cancelar"
                  }
                ]
              },
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "mis_citas"
                  }
                ]
              },
              "outputKey": "mis_citas"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.command}}",
                    "value2": "ayuda"
                  }
                ]
              },
              "outputKey": "ayuda"
            }
          ]
        },
        "fallbackOutput": "fixed",
        "options": {}
      },
      "id": "command-router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "content": "## Welcome Message",
        "height": 80,
        "width": 150
      },
      "id": "note-start",
      "name": "Start Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [830, 200]
    },
    {
      "parameters": {
        "functionCode": "// Generate welcome message\nconst firstName = $input.first().json.firstName || 'Usuario';\n\nconst welcomeMessage = `🏥 ¡Hola ${firstName}! Bienvenido al Sistema de Citas Médicas\n\nPuedo ayudarte con:\n\n📅 /agendar - Agendar nueva cita\n🔍 /verificar - Verificar estado de cita\n❌ /cancelar - Cancelar cita existente\n📋 /mis_citas - Ver todas tus citas\n❓ /ayuda - Ver este menú de ayuda\n\n¿Cómo puedo ayudarte hoy?`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Agendar Cita', callback_data: '/agendar' },\n      { text: '📋 Mis Citas', callback_data: '/mis_citas' }\n    ],\n    [\n      { text: '❓ Ayuda', callback_data: '/ayuda' }\n    ]\n  ]\n};\n\nreturn {\n  chatId: $input.first().json.chatId,\n  message: welcomeMessage,\n  keyboard: keyboard\n};"
      },
      "id": "format-welcome",
      "name": "Format Welcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 280]
    },
    {
      "parameters": {
        "content": "## Create Appointment",
        "height": 80,
        "width": 150
      },
      "id": "note-agendar",
      "name": "Appointment Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [830, 350]
    },
    {
      "parameters": {
        "functionCode": "// Validate appointment parameters\nconst params = $input.first().json.params;\n\nif (!params.doctor || !params.date || !params.time) {\n  return {\n    valid: false,\n    chatId: $input.first().json.chatId,\n    message: '❌ Formato incorrecto\\n\\nUsa: /agendar [Doctor] [Fecha] [Hora]\\n\\nEjemplo:\\n/agendar Dr. López 2024-11-25 10:00'\n  };\n}\n\n// Parse and validate date\nconst appointmentDate = new Date(params.date);\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nif (appointmentDate < today) {\n  return {\n    valid: false,\n    chatId: $input.first().json.chatId,\n    message: '❌ No puedes agendar citas en fechas pasadas'\n  };\n}\n\n// Validate time format\nconst timeRegex = /^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/;\nif (!timeRegex.test(params.time)) {\n  return {\n    valid: false,\n    chatId: $input.first().json.chatId,\n    message: '❌ Formato de hora inválido. Usa formato HH:MM (ej: 10:00)'\n  };\n}\n\nreturn {\n  valid: true,\n  chatId: $input.first().json.chatId,\n  userId: $input.first().json.userId,\n  appointment: {\n    patient_id: $input.first().json.userId.toString(),\n    doctor_id: 'doc_' + params.doctor.toLowerCase().replace(/[^a-z0-9]/g, ''),\n    appointment_date: params.date,\n    appointment_time: params.time + ':00',\n    duration_minutes: 30,\n    reason: 'Consulta general'\n  }\n};"
      },
      "id": "validate-appointment",
      "name": "Validate Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 430]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 430]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-gateway:3000/api/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "patient_id",
              "value": "={{$json.appointment.patient_id}}"
            },
            {
              "name": "doctor_id",
              "value": "={{$json.appointment.doctor_id}}"
            },
            {
              "name": "appointment_date",
              "value": "={{$json.appointment.appointment_date}}"
            },
            {
              "name": "appointment_time",
              "value": "={{$json.appointment.appointment_time}}"
            },
            {
              "name": "duration_minutes",
              "value": "={{$json.appointment.duration_minutes}}"
            },
            {
              "name": "reason",
              "value": "={{$json.appointment.reason}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-appointment-api",
      "name": "Create Appointment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Format success or error message\nconst response = $input.first().json;\nconst chatId = $input.all()[0].json.chatId;\n\nif (response.error || !response.id) {\n  // Error occurred\n  return {\n    chatId: chatId,\n    message: `❌ Error al crear la cita\\n\\n${response.error || 'Error desconocido'}\\n\\nPor favor intenta nuevamente o contacta soporte.`,\n    success: false\n  };\n}\n\n// Success - format confirmation\nconst appointment = response;\nconst date = new Date(appointment.appointment_date);\nconst dateStr = date.toLocaleDateString('es-MX', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst successMessage = `✅ ¡Cita Agendada Exitosamente!\n\n📋 **Detalles de tu cita:**\n🆔 ID: ${appointment.id}\n👨‍⚕️ Doctor: ${appointment.doctor_id}\n📅 Fecha: ${dateStr}\n⏰ Hora: ${appointment.start_time}\n⏱ Duración: ${appointment.duration_minutes} minutos\n\n📌 Estado: ${appointment.status}\n\n💡 Te enviaremos un recordatorio 24 horas antes de tu cita.\n\n¿Necesitas algo más?`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📋 Ver Mis Citas', callback_data: '/mis_citas' },\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn {\n  chatId: chatId,\n  message: successMessage,\n  keyboard: keyboard,\n  success: true\n};"
      },
      "id": "format-appointment-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 380]
    },
    {
      "parameters": {
        "content": "## Verify Appointment",
        "height": 80,
        "width": 150
      },
      "id": "note-verificar",
      "name": "Verify Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [830, 500]
    },
    {
      "parameters": {
        "functionCode": "// Validate verification parameters\nconst params = $input.first().json.params;\n\nif (!params.appointmentId) {\n  return {\n    valid: false,\n    chatId: $input.first().json.chatId,\n    message: '❌ Por favor proporciona el ID de la cita\\n\\nUsa: /verificar [ID_CITA]\\n\\nEjemplo:\\n/verificar ABC123'\n  };\n}\n\nreturn {\n  valid: true,\n  chatId: $input.first().json.chatId,\n  appointmentId: params.appointmentId\n};"
      },
      "id": "validate-verify",
      "name": "Validate Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 580]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api-gateway:3000/api/appointments/{{$json.appointmentId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-appointment-api",
      "name": "Get Appointment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 580],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Format verification response\nconst response = $input.first().json;\nconst chatId = $input.all()[0].json.chatId;\n\nif (response.error || !response.id) {\n  return {\n    chatId: chatId,\n    message: `❌ No se encontró la cita con ese ID\\n\\nVerifica el ID e intenta nuevamente.`\n  };\n}\n\nconst appointment = response;\nconst date = new Date(appointment.appointment_date);\nconst dateStr = date.toLocaleDateString('es-MX', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nlet statusEmoji = '📅';\nswitch(appointment.status) {\n  case 'confirmed': statusEmoji = '✅'; break;\n  case 'cancelled': statusEmoji = '❌'; break;\n  case 'completed': statusEmoji = '✔️'; break;\n  case 'no_show': statusEmoji = '⚠️'; break;\n}\n\nconst message = `📋 **Información de tu Cita**\n\n🆔 ID: ${appointment.id}\n${statusEmoji} Estado: ${appointment.status}\n👨‍⚕️ Doctor: ${appointment.doctor_id}\n📅 Fecha: ${dateStr}\n⏰ Hora: ${appointment.start_time}\n⏱ Duración: ${appointment.duration_minutes} minutos\n\n${appointment.notes ? `📝 Notas: ${appointment.notes}` : ''}\n${appointment.cancellation_reason ? `❌ Razón de cancelación: ${appointment.cancellation_reason}` : ''}`;\n\nconst keyboard = appointment.status === 'scheduled' ? {\n  inline_keyboard: [\n    [\n      { text: '✅ Confirmar', callback_data: `/confirmar ${appointment.id}` },\n      { text: '❌ Cancelar', callback_data: `/cancelar ${appointment.id}` }\n    ],\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n} : {\n  inline_keyboard: [\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn {\n  chatId: chatId,\n  message: message,\n  keyboard: keyboard\n};"
      },
      "id": "format-verify-response",
      "name": "Format Verify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 580]
    },
    {
      "parameters": {
        "content": "## List Appointments",
        "height": 80,
        "width": 150
      },
      "id": "note-mis-citas",
      "name": "List Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [830, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api-gateway:3000/api/appointments?patient_id={{$json.userId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "list-appointments-api",
      "name": "List Appointments API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 780],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Format appointments list\nconst response = $input.first().json;\nconst chatId = $input.all()[0].json.chatId;\n\nif (response.error || !response.appointments) {\n  return {\n    chatId: chatId,\n    message: `❌ Error al obtener tus citas\\n\\nIntenta nuevamente más tarde.`\n  };\n}\n\nconst appointments = response.appointments || [];\n\nif (appointments.length === 0) {\n  return {\n    chatId: chatId,\n    message: `📋 No tienes citas registradas\\n\\n¿Quieres agendar una nueva cita?`,\n    keyboard: {\n      inline_keyboard: [\n        [\n          { text: '📅 Agendar Cita', callback_data: '/agendar' },\n          { text: '🏠 Menú Principal', callback_data: '/start' }\n        ]\n      ]\n    }\n  };\n}\n\n// Format appointments list\nlet message = `📋 **Tus Citas (${appointments.length})**\\n\\n`;\n\nappointments.forEach((apt, index) => {\n  const date = new Date(apt.appointment_date);\n  const dateStr = date.toLocaleDateString('es-MX', {\n    weekday: 'short',\n    month: 'short',\n    day: 'numeric'\n  });\n  \n  let statusEmoji = '📅';\n  switch(apt.status) {\n    case 'confirmed': statusEmoji = '✅'; break;\n    case 'cancelled': statusEmoji = '❌'; break;\n    case 'completed': statusEmoji = '✔️'; break;\n  }\n  \n  message += `${index + 1}. ${statusEmoji} **${dateStr}** - ${apt.start_time}\\n`;\n  message += `   👨‍⚕️ ${apt.doctor_id}\\n`;\n  message += `   🆔 ID: ${apt.id}\\n\\n`;\n});\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Nueva Cita', callback_data: '/agendar' },\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn {\n  chatId: chatId,\n  message: message,\n  keyboard: keyboard\n};"
      },
      "id": "format-list-response",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 780]
    },
    {
      "parameters": {
        "content": "## Help Message",
        "height": 80,
        "width": 150
      },
      "id": "note-ayuda",
      "name": "Help Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [830, 900]
    },
    {
      "parameters": {
        "functionCode": "// Generate help message\nconst chatId = $input.first().json.chatId;\n\nconst helpMessage = `❓ **Ayuda - Sistema de Citas Médicas**\n\n**Comandos Disponibles:**\n\n📅 **/agendar** [Doctor] [Fecha] [Hora]\nAgenda una nueva cita médica\nEjemplo: /agendar Dr. López 2024-11-25 10:00\n\n🔍 **/verificar** [ID_Cita]\nVerifica el estado de una cita específica\nEjemplo: /verificar ABC123\n\n❌ **/cancelar** [ID_Cita]\nCancela una cita existente\nEjemplo: /cancelar ABC123\n\n📋 **/mis_citas**\nMuestra todas tus citas programadas\n\n🏥 **/doctores**\nMuestra la lista de doctores disponibles\n\n**Formatos Aceptados:**\n• Fecha: AAAA-MM-DD (ej: 2024-11-25)\n• Hora: HH:MM (ej: 10:00, 14:30)\n• Horario: 8:00 AM - 6:00 PM\n• Días: Lunes a Viernes\n\n**Tips:**\n• Las citas duran 30 minutos por defecto\n• No se pueden agendar citas en el pasado\n• Recibirás recordatorios 24h antes\n• Puedes cancelar hasta 2h antes\n\n¿Necesitas más ayuda? Contacta soporte: @soporte_citas`;\n\nconst keyboard = {\n  inline_keyboard: [\n    [\n      { text: '📅 Agendar Cita', callback_data: '/agendar' },\n      { text: '📋 Mis Citas', callback_data: '/mis_citas' }\n    ],\n    [\n      { text: '🏠 Menú Principal', callback_data: '/start' }\n    ]\n  ]\n};\n\nreturn {\n  chatId: chatId,\n  message: helpMessage,\n  keyboard: keyboard\n};"
      },
      "id": "format-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 980]
    },
    {
      "parameters": {
        "content": "## Send to Telegram",
        "height": 80,
        "width": 150
      },
      "id": "note-send",
      "name": "Response",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1630, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={{JSON.stringify($json.keyboard)}}"
        }
      },
      "id": "telegram-response",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 580],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Format Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Verify",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "List Appointments API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Welcome": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Appointment": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Create Appointment API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Verify": {
      "main": [
        [
          {
            "node": "Get Appointment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment API": {
      "main": [
        [
          {
            "node": "Format Verify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Verify Response": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Appointments API": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "error-handler"
  },
  "staticData": null,
  "meta": {
    "templateCreatedBy": "Sistema de Citas",
    "templateId": "telegram-appointment-bot"
  },
  "tags": [
    {
      "name": "telegram",
      "createdAt": "2024-11-17T10:00:00.000Z"
    },
    {
      "name": "appointments",
      "createdAt": "2024-11-17T10:00:00.000Z"
    }
  ]
}
